@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;700');

* {
    margin: 0;
    padding: 0;
    --color-blue: #0077ff;
    --color-light-blue: #00eaff;
    --color-white: #ffffff;
    font-family: 'Golos Text', 'sans-serif';
    font-weight: 500;
}

.main-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(245deg, var(--color-blue), var(--color-light-blue));
    padding-top: 20px;
}

.inside-box {
    margin: 0 auto;
    width: 75%;
}

.inside-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.box-element {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--color-white);
}

.inside-box h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
}

@media (max-width: 960px) {
    .inside-box {
        width: 90%;
    }
    .inside-box h1 {
        font-size: 1.5rem;
    }
}