.form-element {
    display: flex;
    width: 100%;
    padding: 10px;
}

h2 {
    display: flex;
    font-size: 1rem;
    color: var(--color-black);
    padding-left: 10px;
    margin-bottom: -7px;
}